Package: com.0xkuj.cccounters
Name: CCCounters
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Adds some counters to your Control Center
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
