Package: com.0xkuj.cccounters
Name: CCCounters
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, firmware (>= 13.0)
Description: Adds some counters to your Control Center
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.0.3
Installed-Size: 428
